#%RAML 1.0
title: {{ options.title }}
baseUri: {{ options.baseUri }}
version: {{ options.v1 }}

types:
{% for name, object in typesData %}
  {{ name }}: |
{{ stringify(object, null, '  ', 6) | safe }}
{% endfor %}
